@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i,700,700i&display=swap';

:focus {
    outline: none;
}

.th .searchx {
  transform: translatex(142.0%);
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

a:hover {
  color: #0c70de;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clear {
  clear: both;
}

body {
    background: #16151d;
    font-size: 14px;
    line-height: 1.5;
    color: #b8b8b8;
    margin: 0 auto;
    font-family: 'fira sans', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

#content {
    overflow: hidden;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    margin: 0 20px;
    position: relative;
    }

header {
    float: left;
    margin: 5px 40px 5px 0;
}

.logos img {
    max-height: 50px;
}

.logos {
    margin: 0;
    min-height: 1px;
    width: 195px;
    display: block;
}

.logos span.hdl {
    display: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.th {
    overflow: hidden;
    background: #0b0a0d;
    height: 60px;
}

.th .centernav {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
}

.shme {
    display: none;
}

#main-menu {
    margin: 0;
    background: #0c70de;
    margin-bottom: 15px;
}

#main-menu .centernav {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
}

#main-menu ul {
    position: relative;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-menu ul li {
    float: left;
    position: relative;
    margin: 0 10px;
}

#main-menu ul li a {
    display: block;
    text-align: center;
    line-height: 42px;
    height: 42px;
    padding: 0 10px;
    color: #fff;
    border-left: 0;
    transition: color .5s;
    position: relative;
    font-size: 1em;
}

#main-menu ul li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.32);
}

#main-menu input[type=checkbox]:checked ~ #menu-menu {
    display: block;
    z-index: 9999;
    float: none;
    background: #222;
    position: relative;
}

.searchx {
  float: left;
  width: 350px;
  margin: 13px 25px 13px 0;
  position: relative;
}


.searchx #form #s {
  font-weight: 300;
  background: #17151b;
  box-shadow: none !important;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  padding-right: 30px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-image: none;
  border: 1px solid #23202a;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.slidtop .trending .tdb {
  cursor: pointer;
  height: 280px;
  margin-left: 10px;
  position: relative;
}

.slidtop .trending .tdb .imgxa {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: auto 100%;
  background-position: top center;
}

.slidtop .trending .tdb .imgxa .imgxb {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.postbody {
  float: left;
  width: 70%;
}

.bixbox {
  background: #222;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 18px;
  overflow: hidden;
}

.postbody .box {
  overflow: hidden;
  margin-bottom: 20px;
}

.releases {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #312f40;
  padding: 8px 15px;
}

.releases h1, .releases h2, .releases h3, #sidebar .section h4 {
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
  position: relative;
}

.listupd {
  padding: 10px;
  overflow: hidden;
}

.listupd.cp {
  margin: -15px;
}

.listupd .utao {
  float: left;
  width: 33.33333%;
  position: relative;
}

.listupd .utao .uta {
  padding: 15px 10px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #312f40;
}

.listupd .utao .uta .imgu {
  position: relative;
  float: left;
  overflow: hidden;
  height: 105px;
  margin-right: 10px;
  border-radius: 3px;
}

.listupd .utao .uta .luf {
  overflow: hidden;
}

.listupd .utao .uta .luf h4 {
  margin: 0;
  font-size: 0.98em;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listupd .utao .uta .luf ul {
  margin: 0;
  margin-top: 10px;
  padding-left: 15px;
}

.listupd .utao .uta .luf ul li span {
  float: right;
  color: #555;
  font-size: 12px;
}

.listupd .utao .uta .luf ul.Manhwa li {
  color: #9d4942;
}

.listupd .utao.styletwo {
  width: 50%;
}

.listupd .utao.styletwo .uta .imgu {
  height: 141px;
  border-radius: 0;
  width: 100px;
}

.listupd .utao.styletwo .uta .luf h4 {
  font-size: 15px;
  font-weight: 500;
}

.listupd .utao.styletwo .uta .luf ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.listupd .utao.styletwo .uta .luf ul li a {
  font-weight: 500;
  color: #999;
}

.listupd .utao.styletwo .uta .luf ul li a:hover {
  color: #fff;
}

.bs {
  float: left;
  width: 20%;
}

.bs .bsx {
  position: relative;
  overflow: hidden;
  margin: 10px 7px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.bs .bsx .limit {
  padding: 137% 0 0;
  position: relative;
  overflow: hidden;
  background: #111;
  border-radius: 3px;
}

.bs .bsx .limit img {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
}

.bs .bsx .tt {
  font-size: 0.95em;
  margin: 8px 0;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.bs .bsx .adds {
  font-size: 13px;
  color: #999;
}

.bs .bsx .limit .type {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
  padding: 2px 7px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  color: #efefef;
  background: #0c70de;
}


.rating-prc .rtp {
  overflow: hidden;
  float:left;
}

.rating-prc .rtp .rtb {
  position: relative;
  overflow: hidden;
  color: #ffc700;
  height: 15px;
  line-height: 1;
  width: 85px;
  font-size: 15px;
  margin: 0 auto;
}

.rating-prc .rtp .rtb span:before {
  content: "\f005\f005\f005\f005\f005";
  font-family: "font awesome 5 free";
  font-weight: 900;
  top: 0;
  position: absolute;
  left: 0;
}

.rating-prc .num {
  float: right;
  line-height: normal;
  font-size: 13px;
}

#sidebar {
    width: 30%;
    float: right;
    position: relative;
    z-index: 1;
}

#sidebar .section {
    margin-left: 15px;
    background: #222;
    border-radius: 3px;
}

#sidebar .section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar .section .serieslist ul li {
    padding: 12px 15px;
    text-overflow: unset;
    white-space: unset;
    overflow: hidden;
    border-bottom: 1px solid #383838;
    position: relative;
}

#sidebar .section .serieslist ul li:last-child {
    border: 0;
}

.serieslist ul li .ctr {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 1em;
    color: #888;
    position: absolute;
    top: 30px;
    left: 15px;
    border: 0.5px solid #888;
    border-radius: 3px;
}

.serieslist ul li .imgseries {
    float: left;
    width: 58px;
    max-height: 72px;
    margin-right: 10px;
    border-radius: 3px;
}

#wpop-items .serieslist ul li .imgseries {
    margin-left: 37px;
}

.serieslist ul li .leftseries h2 {
    font-size: 0.98em;
    font-weight: 500;
    margin: 0 0 3px;
    line-height: 1.4em;
}

.serieslist ul li .leftseries span {
    white-space: unset;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.serieslist .rating-prc .rtp .rtb {
    margin: 0;
    font-size: 12px;
    width: 67px;
    height: 14px;
}

.serieslist .rating-prc .rtp .rtb span {
    margin: 0;
    font-size: inherit;
    color: inherit!important;
}

#footer {
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
    padding: 0;
    font-size: 13px;
    color: #ccc;
    background: #222;
}

#footer .footermenu {
    text-align: center;
    background: #0c70de;
}

#footer .footermenu ul li {
    padding: 7px 10px;
    display: inline-block;
}

.footercopyright p {
    margin: 0;
    margin-top: 5px;
    font-size: 0.8em;
    margin-bottom: 0;
    line-height: 14px;
    letter-spacing: 0.5px;
}

.footercopyright .copyright .footer-logo img {
    height: 50px;
    width: auto;
}

.footercopyright .copyright.marx {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 978px) {
    .topmobile {
        display: block;
        float: right;
        margin-right: 10px;
        margin-top: 18px;
        width: 25px;
        line-height: 26px;
        color: #fff;
        text-align: center;
        background: #0c70de;
        border-radius: 50%;
        cursor: pointer;
    }
}